[Desktop Entry]
Name=Deezer
StartupNotify=true
Icon=/usr/share/icons/hicolor/256x256/apps/deezer.png
Comment=Deezer audio streaming service
Exec=/usr/bin/deezer %u
Terminal=false
Type=Application
MimeType=x-scheme-handler/deezer;
StartupWMClass=deezer
Categories=Audio;Music;Player;AudioVideo;
